---
layout: 'default'
title: 'Projects'
redirect_from:
  - /adv-topics/
  - /ap-cs-a/
  - /assignment/
---

<main class="container">
  <article class="repository">
    <input id="search" placeholder="Filter">
    {% for asst in site.data.assignments %}
      <div class="card assignment-card link"
           onclick="window.location='{% link assignments/{{ asst.key }}/index.html %}'"
           id="{{ asst.key }}">
        <div class="card-thumbnail">
          <img src="{% link assets/images/example-output/{{ asst.key }}.png %}"
               alt="{{ asst.title }} Example Output">
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ asst.title }}</h4>
          <p class="card-text">{{ asst.summary }}</p>
          {% if asst.difficulty == "easier" %}
            <small class="difficulty-tag"  background-color="37FD12">"Easier"</small>
          {% elif asst.difficulty == "more difficult" %}
            <small class="difficulty-tag"  background-color="FFF04D">"More Difficult"</small>
          {% elif asst.difficulty == "most difficult" %}
            <small class="difficulty-tag"  background-color="FF0000">"Most Difficult"</small>
          {% else %}
            <small class="tag">"Difficulty Not Set"</small>
          {% endif %}
          {% if asst.java %}
            <small class="language-tag">Java</small>
          {% endif %}
          {% if asst.python %}
            <small class="language-tag">Python</small>
          {% endif %}
          {% for tag in asst.tags %}
            <small class="tag">{{ tag }}</small>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </article>
</main>

<script src="search.js"></script>
